/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;700&family=Nunito:wght@200;300;400;500;600;700;900&family=Open+Sans:wght@300;400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;700&display=swap');



/*---------------- CUSTOM FONTS ------------- */

@font-face {
  font-family: 'OcrSpace';
  src: url('/assets/fonts/OCR-B.ttf');
}

@font-face {
  font-family: 'SegoUi';
  src: url('/assets/fonts/SegoeUI-Bold.ttf');
}

@font-face {
  font-family: 'MessSpace';
  src: url('/assets/fonts/MessinaSansMono-Regular.ttf');

}

@font-face {
  font-family: 'Neue';
  src: url('/assets/fonts/NeueMontreal-Bold.otf');

}

@font-face {
  font-family: 'AccuminPro';
  src: url('/assets/fonts/FontsFree-Net-Acumin-Pro-Book.ttf');

}

@font-face {
  font-family: 'Helventica';
  src: url('/assets/fonts/helveticaneue.ttf');

}



:root {
  /* -------------- COLORS ----------------- */
  --background-color-white: #fff;
  --background-color-gray: #ccc;
  --background-color-black: #000;

  --text-color-white: #fff;
  --text-color-banner: #ebebeb;
  --text-color-gray: #ccc;
  --text-color-black: #000;

  --color--heading: #FFFEF5;
  --color--green-yelo: #adff2f;
  --green-color: #00ff00;

  --banner-color-red: #F00C27;
  --banner-color-yellow: #E4C315;
  --banner-color-blue: #346BFA;
  --banner-color-green: #099D3F;

  /* ------------FONTS SIZE------------ */

  --font-size-bigger: 5rem;
  --font-size-Extra-big: 3rem;
  --font-size-big: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-normal: 1rem;
  --font-size-Extra-small: .5rem;

  /* ---------- FONTS STYLE ------------- */
  --font-poppins: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
  --font-nunito-sans: 'Nunito Sans', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-Neue: 'Neue', sans-serif;
  --font-OcrSpace: 'OcrSpace', sans-serif;
  --font-MessSpace: 'MessSpace', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-fira-sans: 'Fira Sans', sans-serif;
  --font-AccuminPro: 'AccuminPro', sans-serif;
  --font-Helventica: 'Helventica', sans-serif;
  --font-SegoUi: 'SegoUi', sans-serif;


  /* ------------- MARGIN AND PADDING ------------- */
  --margin-bigger: 5rem;
  --margin-big: 1.5rem;
  --margin-normal: 1rem;
  --margin-small: .5rem;

  --padding-biggie: 3.5rem;
  --padding-bigger: 3rem;
  --padding-big: 1.5rem;
  --padding-normal: 1rem;
  --padding-small: .5rem;

  /*---------------- BORDER ----------------- */
  --border-black-big: 2.5px solid #000000;
  --border-black-normal: 1.5px solid #000000;
  --border-black-small: 1px solid #000000;
  --border-black-smaller: .2px solid #000000;

  --border-gray-big: 2.5px solid #ccc;
  --border-gray-normal: 1.5px solid #ccc;
  --border-gray-small: 1px solid #ccc;
  --border-gray-smaller: .2px solid #ccc;


  /* ------------- GAP ----------------- */
  --gap-big: 3rem;
  --gap-normal: 2rem;
  --gap-small: 1.5rem;
  --gap-smaller: .5rem;
  --gap-extra-smaller: .2rem;

  /* ---------- GRID ----------------- */
  --layout-columns-count: 8;
}




/*=============== BASE ===============*/
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  margin: var(--margin-big);
  /* background: linear-gradient(to right, #8611ecdd, #4b00e0ec); */
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364);  */
  background: var(--background-color-white);
  background: #e0c9a662;


}

html,
body {
  overscroll-behavior: none;
}

a,
li,
ul {
  all: unset;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #ffffff;
  color: #000000;
}

/* =========== Reusable class ========= */
.divider {
  height: 1px;
  background: var(--background-color-black);
}

.rotate_90 {
  transform: rotate(90deg);
}


.str_1,
.str_2,
.str_3,
.str_4 {
  position: absolute;
  width: 50px;
  height: 50px;
}

.str_1 {
  top: 20px;
  transform: rotate(-12deg);
}

.str_2 {
  top: 210px;
  left: 120px;
  transform: rotate(42deg);
}

.str_3 {
  top: 50px;
  right: 30px;
  transform: rotate(20deg);
}

.str_4 {
  top: 10px;
  right: 330px;
  transform: rotate(10deg);
}


/* =========== Reusable class End ========= */


.whole__container {
  width: 90%;
  border: 1px solid;
  margin: auto;
  /* position: relative; */

  /*------ glass effect start ---------  */
  box-shadow: -5px -5px 0px #ffffff70,
    5px 5px 0px #000000;
  backdrop-filter: blur(6.5px);
  border: var(--border-black-smaller);
  /*------- glass effect end --------- */


  /* background: #FDF3EA; */
  background: #E0C9A6;

  display: grid;
  grid-template-rows: auto;
}

/* 
.top__container{
  border: 1px solid rgb(234, 0, 113);
} */

/*----------- Header_Container ------------ */

.top__container {
  position: relative;
  padding: var(--padding-bigger);
}

.job__need {
  position: absolute;
  border: var(--border-black-smaller);
  background-color: var(--banner-color-blue);
  color: var(--background-color-white);
  font-family: var(--font-fira-sans);
  padding: var(--padding-normal);
  margin: var(--margin-normal);
  border-radius: 10px;
  right: 100px;
  top: 10px;
}

.need_a_job {
  cursor: pointer;
}

.intro {
  position: absolute;
  font-family: var(--font-fira-sans);
  font-size: var(--font-size-Extra-big);
  color: var(--banner-color-green);
  font-weight: 900;
  top: 0;
  left: 350px;
  z-index: -99;
  text-shadow: 0px 5px 1px var(--background-color-black),
    0px 5px 1px var(--background-color-black);
}

.image__container {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: var(--border-black-smaller);
  margin-left: var(--margin-bigger);
  background-color: var(--background-color-gray);
}

.banner__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.name__container {
  width: 80%;
  margin: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  background-color: var(--banner-color-red);
  top: 130px;
  left: 100px;
  z-index: -99;
  border: var(--border-black-smaller);
  padding-left: var(--padding-big);
}

.banner__text {
  font-family: var(--font-Neue);
  color: var(--text-color-banner);
  font-size: var(--font-size-bigger);
  letter-spacing: 5px;
  text-shadow: 5px 5px 3px var(--background-color-black),
    5px 5px 3px var(--background-color-black),
    5px 5px 3px var(--background-color-black),
    5px 5px 3px var(--background-color-black);

}




/* ----------- Two Side Containers  -------------- */
.two__side {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: var(--margin-small);
  padding: var(--margin-small);
  /* border: 1px solid rgb(234, 0, 113); */

}

.right__side,
.left__side {
  margin-left: var(--margin-normal);
  place-items: center;
}

/*--------- Left_Side Card ------------ */
.left__side {
  border-right: var(--border-black-small);
  display: grid;
  /* grid-template-rows: repeat(4, 1fr); */
  gap: var(--gap-small);
}

.address {
  font-family: var(--font-fira-sans);
  font-size: var(--font-size-normal);
  font-weight: 400;
  font-size: var(--font-size-normal);
  letter-spacing: 2px;
}

/* --------- Skills Sction ---------- */

.card {
  border: var(--border-black-smaller);
  border-radius: 20px;
}

.skills,
.language,
.contact,
.work,
.education {
  position: relative;
  /* width: 100%; */

}

.crd_img {
  position: absolute;
  top: -20px;
  right: 0;
  transform: rotate(20deg);
}

.card__heading {
  background-color: var(--banner-color-yellow);
  padding: var(--padding-small) 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-family: var(--font-Neue);
  font-size: var(--font-size-Extra-big);
  border-bottom: var(--border-black-smaller);
  padding-left: var(--padding-big);
}

.card__heading.red {
  background-color: var(--banner-color-red);
  color: var(--background-color-white);
}

.card__heading.green {
  background-color: var(--banner-color-green);
  color: var(--background-color-black);
}

.skills__content {
  margin: var(--margin-normal);
}

.skill__example {
  color: var(--banner-color-green);
  font-family: var(--font-fira-sans);
  font-size: var(--font-size-medium);
  font-weight: 400;
}

.details {
  font-family: var(--font-fira-sans);
  font-size: var(--font-size-normal);
  font-weight: 400;
}

/* --------- language Section ---------- */

.language__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 var(--margin-small);
  color: var(--banner-color-green);
  padding: 0 var(--padding-biggie);
}

.language {
  font-family: var(--font-fira-sans);
  text-transform: capitalize;
  font-weight: 400;
}

.container {
  margin: var(--margin-normal);
  width: 200px;
  text-align: center;
}

.progress2 {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  border: 1px solid var(--banner-color-red);

}

.progress-bar2 {
  height: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2.one {
  width: 95%;
  background-color: var(--banner-color-green);
  animation: progressAnimation_one 6s;
}

@keyframes progressAnimation_one {
  0% {
    width: 0%;
    background-color: var(--banner-color-green);
  }

  100% {
    width: 95%;
    background-color: var(--banner-color-green);
  }
}

.progress-moved .progress-bar2.two {
  width: 85%;
  background-color: var(--banner-color-green);
  animation: progressAnimation_two 6s;
}

@keyframes progressAnimation_two {
  0% {
    width: 0%;
    background-color: var(--banner-color-green);
  }

  100% {
    width: 85%;
    background-color: var(--banner-color-green);
  }
}

.progress-moved .progress-bar2.three {
  width: 75%;
  background-color: var(--banner-color-green);
  animation: progressAnimation_three 6s;
}

@keyframes progressAnimation_three {
  0% {
    width: 0%;
    background-color: var(--banner-color-green);
  }

  100% {
    width: 75%;
    background-color: var(--banner-color-green);
  }
}

.progress-moved .progress-bar2.four {
  width: 50%;
  background-color: var(--banner-color-green);
  animation: progressAnimation_four 6s;
}

@keyframes progressAnimation_four {
  0% {
    width: 0%;
    background-color: var(--banner-color-green);
  }

  100% {
    width: 50%;
    background-color: var(--banner-color-green);
  }
}



/* --------- contact Section ---------- */



.contact__details {
  padding: var(--padding-normal) var(--padding-biggie);
  margin: 0 var(--margin-bigger);
  cursor: pointer;
}

.contact__text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--banner-color-green);
  font-family: var(--font-fira-sans);
}



/*--------- Right_Side Card ------------ */

.right__side {
  display: grid;
  /* grid-template-rows: repeat(2, 1fr); */
  gap: var(--gap-small);
}

/*--------  Working Experience ----------- */
.work,
.education {
  width: 90%;
}

.work__details,
.education__details {
  padding: 0 var(--padding-biggie);
  margin: 0 var(--margin-big);
}

.work__text,
.education__text {
  margin: var(--margin-big) 0;
  border-bottom: var(--border-black-smaller);
  color: var(--banner-color-green);
  font-family: var(--font-fira-sans);
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */